@{
    @model IEnumerable<MATechTaxWebSite.Models.BlobSnapshot>
    ViewBag.Title = "Home Page";
    ViewBag.FaqUrl = System.Configuration.ConfigurationManager.AppSettings["DorFaqUrl"];
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h2>DOR FAQ</h2>
<a href="@ViewBag.FaqUrl">LATEST Sofware Service Sales Tax FAQ</a>

<h3>DOR FAQ HISTORY (Partial)</h3>
<ol class="round">
    @foreach (var snap in Model)
    {
    <li class="one">
        <h4><a href="@snap.Url">@snap.LastModified</a></h4>
    </li>
    }
</ol>



<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>


<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:matechtax@gmail.com">General@example.com</a></span>
    </p>
</section>
